<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head('Artists')"></th:block>
</head>

<body>

    <th:block th:replace="fragments/header :: header('artists', 'artista', 'albums', 'lista album')">
    </th:block>

    <div class="container mt-5">
        <h1 class="text-center mb-4">
            <a th:href="@{/artists}" class="text-decoration-none text-dark">Artists</a>
        </h1>


        <div class="row">
            <div class="col-md-4 mb-4" th:if="${artists.size() > 0}" th:each="artist : ${artists}"
                th:object="${artist}">
                <a th:href="@{/artists/{id}(id=${artist.id})}" class="card shadow-lg h-100 text-decoration-none">
                    <img th:src="*{foto}" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;"
                        alt="*{alias}">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title" th:text="*{alias}"></h2>
                        <p class="card-text"><strong>Data di Nascita:</strong> [[*{formattedDataNascita}]]</p>
                        <p class="card-text"><strong>Nome:</strong> [[*{nome}]] [[*{cognome}]]</p>
                        <p class="card-text" th:text="*{descrizione}"></p>
                    </div>
                </a>
            </div>

        </div>
        <h4 th:text="'Nessun artista trovato'" th:unless="${artists.size() > 0}" class="text-center"></h4>
    </div>

</body>

</html>